<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://jakarta.ee/xml/ns/jakartaee"
         version="4.0">

    <servlet>
        <servlet-name>FormController</servlet-name>
        <servlet-class>com.example.tp4.FormController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FormController</servlet-name>
        <url-pattern>/formController</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>formulaire.jsp</welcome-file>
    </welcome-file-list>
</web-app>

